@import "sass/helpers/_variables.scss";
@import "sass/helpers/_mixins.scss";
@import "sass/helpers/_components.scss";
@import "sass/helpers/_animations.scss";
@import "sass/global/_global.scss";
@import "sass/layouts/_header.scss";
@import "sass/layouts/_home.scss";
@import "sass/layouts/_about.scss";
@import "sass/layouts/_services.scss";
@import "sass/layouts/_resume.scss";
@import "sass/layouts/_portfolio.scss";
@import "sass/layouts/_testimonials.scss";
@import "sass/layouts/_contact.scss";
@import "sass/layouts/_footer.scss";
@import "sass/layouts/_colors.scss";
@import "sass/layouts/_terms.scss";