// start about
.main-content__about{
    padding: var(--section-padd);
    background-color: var(--main-background);
    @include responsive (767px){padding: 50px 0}
    .about-description{
        @include ds-flex (flex,space-between,center);
        margin: 0 0 40px 0;
        @include responsive (991px){
            flex-direction: column;
            justify-content: center;
        }
        &__text{
            flex-basis: 65%;
            max-width: 100%;
            @include responsive (991px){text-align: center;}
            h3{
                font-size: 30px;
                color: var(--alt-title);
                text-transform: capitalize;
                font-weight: 600;
                margin-bottom: 20px;
                @include responsive (991px){font-size: 27px;}
                span{color: var(--main-color)}
            }
            p{
                line-height: 1.8;
                color: var(--p-color);
                // font-size: 17px;
                @include responsive (991px){font-size: 16px;}
                &:first-child{margin-bottom: 30px}
            }
        }
        &__infromation{
            flex-basis: 30%;
            @include responsive (991px){width: 100%;}
            .personal-information {
                margin-top: 30px;
                li{
                    padding: 15px 0;
                    color: var(--p-color);
                    border-bottom: var(--border-bottom);
                    text-transform: capitalize;
                    span{
                        font-weight: bold;
                        margin-right: 10px;
                    }
                    a{color: var(--main-color)}
                }
            }
            a.btn{
                color: #FFF;
                background-color: var(--main-color);
                padding: 20px 50px;
                margin-top: 30px;
                box-shadow: 0px 5px 15px rgba(0 ,0 ,0, 15%);
                transition: .5s;
                &:hover{
                    box-shadow: 0px 5px 15px rgba(0 ,0 ,0, 30%);
                    background-color: #1baa80;
                }
            }
        }
    }
    .about-stats{
        @include ds-grid (grid,minmax(200px , 1fr),center,center , 50px);
        margin-top: 100px;
        &__stat{
            // flex-basis: 25%;
            text-align: center;
            border: var(--border-bottom);
            padding: 20px;
            // &:last-of-type{border-right: none}
            h4{
                color: var(--stats-color);
                font-size: 45px;
                margin: 0;
                margin-bottom: 10px;
                font-weight: 400;
            }
            p{
                // font-size: 16px;
                color: var(--light-text);
                margin: 0;
            }
        }
    }
}
// end about