// start contact
.main-content__contact{
        padding: var(--section-padd);
        background-color: var(--alt-background);
        @include responsive (991px){padding: 50px 0}
        .contact__personal-info{
             display: flex;
             justify-content: space-between;
             flex-wrap: wrap;
             @include responsive (767px){text-align: center;}
             h3{
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                color: var(--alt-title);
                margin: 0 0 20px 0;
                @include responsive (991px) {font-size: 17px;}
             }
             .contact-address{
                width: 25%;
                padding: 0 20px;
                margin-top: 30px;
                @include responsive (991px){width: 30%;}
                @include responsive (767px){width: 100%;}
                p{
                   color: var(--light-text);
                   text-transform: capitalize;
                   line-height: 1.8;
                   @include responsive (991px){font-size: 14px;}
                   &:first-of-type,
                   &:last-of-type{
                     margin-bottom: 30px;
                   }
                   span {
                     margin-right: 10px;
                     i{
                        color: var(--main-color);
                     }
                   }
                }
                .social-icons{
                    @include responsive (767px){
                        justify-content: center;
                        padding: 0;
                    }
                    .social-icon{
                        font-size: 18px;
                        // @include responsive (991px){margin-right: 15px;}
                        @include responsive (991px){font-size: 15px;}
                        &:not(:last-of-type){
                            margin-right: 20px;
                            @include responsive (991px){margin-right: 15px;}
                        }
                        i{color: var(--social-icons)}
                    }
                }
             }
            .contact{
                width: 75%;
                padding: 0 20px;
                margin-top: 30px;
                @include responsive (991px){width: 70%;}
                @include responsive (767px){
                    width: 100%;
                    order: -1;
                }
                .row{
                    display: flex;
                    gap: 20px;
                    @include responsive (991px){display: block}
                }
                input , textarea{
                    display: block;
                    width: 100%;
                    padding: 20px 30px;
                    border-radius: 30px; 
                    background-color: var(--main-background);
                    margin-bottom: 20px;
                    border: none;
                    text-transform: capitalize;
                    border: 1px solid var(--border-box);
                    outline: none;
                    @include responsive (991px){
                        padding: 15px 30px;
                        margin-bottom: 10px;
                    }
                    @include responsive (767px){margin-bottom: 15px;}
                    &[name="message"]{
                        height: 150px;
                        @include responsive (991px){ height: 110px}
                    }
                }
                .btn{
                    input{
                        width: fit-content;
                        color: #FFF;
                        background-color: var(--main-color);
                        padding: 20px 50px;
                        cursor: pointer;
                        box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
                        @include responsive (991px){
                           font-size: 14px;
                           padding: 17px 30px;
                           margin-right: auto;
                           margin-left: auto;
                        }
                    }
                }
                
            }
        }
}
// start contact