// start header
.header{
    @include position(fixed,0,auto,0,auto, none);
    @include ds-flex(flex, space-between, center);
    background-color: #111418;
    width: 260px;
    z-index: 9999;
    flex-direction: column;
    height: 100vh;
    @include responsive(991px){
        width: 100%;
        height: auto;
        padding: 5px 20px;
        flex-direction: row;
        transition: position .5s;
    }
    &__head{
        padding: 40px 0;
        @include responsive(991px){
            padding: 0;
            flex: 1;
        }
        &__image{
            @include rounded (180px , 180px);
            background-color: #343a40 ;
            padding: 10px;
            @include responsive(991px){
                display: none;
            }
            img{
               @include rounded (100% , 100%);
               object-fit: cover;
            }
        }
        .user-name{
            color: #FFF;
            text-align: center;
            margin: 15px 0;
            font-weight: 500;
            @include responsive(991px){text-align: left}
            @include responsive(767px){font-size: 17px}
        }
    }
    &__nav{
        flex: 1;
        padding-bottom: 60px;
        @include responsive(991px){
            @include position(absolute,100%,auto,0,auto, none);
            padding-bottom: 0;
            background: rgba(0, 0, 0, 0.95);
            width: 100%;
            padding: 15px;
            transform: scaleY(0);
            transform-origin: top;
            transition: .3s;
            z-index: 999;
            &.show{transform: scaleY(1);}
        }
        .links{
            @include ds-flex(flex , space-around , center);
            height: 100%;
            flex-direction: column;
            text-align: center;
            @include responsive(991px){
                text-align: left
            }
            li{
                width: 100%;
                a{
                    color: #FFF;
                    display: block;
                    font-size: 16px;
                    transition: color .5s;
                    text-transform: capitalize;
                    &.active{
                        color: var(--main-color);
                    }
                    &:hover{
                        color: var(--main-color);
                    }
                    @include responsive(991px){
                        border-bottom: 1px solid rgba(250, 250, 250, 0.15);
                        color: rgba(250, 250, 250, 0.9);
                        font-size: 16px;
                        padding: 10px 0;
                    }
                }
                &:last-child a{
                    @include responsive(991px){
                        border: none;
                    }
                }
            }
        }
    }
    .list-icon{
        display: none;
        @include responsive (991px){
            position: relative;
            display: block;
            color: #FFF;
            font-size: 24px;
            cursor: pointer;
            transition: .5s;
        }
    }
}
// end header