// start testimonials
.main-content__testimonials{
    padding: var(--section-padd);
    background-color: var(--main-background);
    // overflow: hidden;
    .testimonials-container{
        // @include ds-grid (grid,minmax(500px , 1fr),center,center,50px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        overflow: hidden;
        transition: .5s;
        .testimonial{
            position: relative;
            background-color: var(--testimonial-bg);
            border-radius: 4px;
            padding: 30px;
            transition: .5s;
            min-width: 48%;
            max-width: 100%;
            &.show{
                transform: translateX(0);
            }
            &.hide{
                transform: translateX(-250%);
            }
            .client-info{
                @include ds-flex (flex , flex-start , center);
                margin-bottom: 30px;
                .client-img{
                    @include rounded (70px , 70px);
                    margin-right: 20px;
                    img{
                        @include rounded (100% , 100%);
                        object-fit: cover;
                    }
                }
                .client-name{
                    h3{
                        color: var(--title-color);
                        margin: 0 0 10px 0;
                        font-size: 17px;
                        text-transform: capitalize;
                        font-weight: 550;
                    }
                    span{
                        color: #6c757d;
                        text-transform: capitalize;
                        font-size: 16px;
                    }
                }
            }
            .client-text{
                p{
                    margin-bottom: 30px;
                    line-height: 1.8;
                    color: var(--title-color);
                }
                .rate{
                    @include ds-flex (flex , flex-start , center);
                    li{
                        color: rgb(255,193,7);
                        &:not(:last-child){margin-right: 4px}
                    }
                }
            }
        }
    }
    .pagenation{
        text-align: center;
        margin-top: 50px;
        ul{
          @include ds-flex(flex,center,center);
          li{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 10px;
            position: relative;
            cursor: pointer;
            transition: .5s;
            &:not(:last-child){margin-right: 5px}
            &.active{border: 1px solid var(--main-color);}
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: #cccccc;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: .5s;
            }
            &.active::before{
                background-color: var(--main-color);
            }
          }
        }
    }
}
// end testimonials